@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9fafb;
  color: #0f172a;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
}

#app {
  min-height: 100vh;
}
